{% load static %}
<!DOCTYPE html>
<html lang="en">
     <head>
           <title> SecureX </title>
           <meta charset="utf-8" />
           <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>
           <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
           <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css">
           <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
     </head>

     {% block content %}

     {% endblock %}
     
     <script src="{% static 'js/app.js' %}"></script>
</html>