{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-white justify-content-center">
    <a class="navbar-brand main-heading" href="{% url 'dashboard' %}">   
        &nbsp; SecureX 
    </a>
</nav>
<br>
<div class="container bg-white shadow-md p-5 form-layout">
    <h2> Welcome {{user}} </h2>p
    <p> This is the dashboard </p>
    <a class="btn btn-alert" type="button"  href="{% url 'user-logout' %}">Logout</a>
</div>
<div class="container bg-white shadow-md p-5 form-layout">
    <h2> About SecureX </h2>p
    <p> SecureX is the most secure website in the world. </p>
</div>
<div class="container bg-white shadow-md p-5 form-layout">
    <h2> 2FA </h2>p
    <p> Two-factor authentication provides users with extra securoty. </p>
    <a class="btn btn-alert" type="button"  href="{% url 'two_factor:setup' %}"> Enable 2FA </a>
    <a class="btn btn-alert" type="button"  href="{% url 'two_factor:profile' %}"> 2FA account settings </a>
</div>
{{ redirect_to_login_immediately }}
{% endblock %}