{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-white justify-content-center">
        <a class="navbar-brand main-heading" href="{% url '' %}">   
            &nbsp; SecureX 
        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="btn btn-alert navbar-btn" type="button"  href="{% url 'register' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-alert navbar-btn" type="button"  href="{% url 'two_factor:login' %}">Login</a>
                </li>
            </ul>
        </div>
    </nav>

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <p id="message-timer" class="alert alert-success float-center text-center"> 
                    <i class="fa fa-check" aria-hidden="true"></i> &nbsp; {{message}} 
                </p>
            {% endif %}
        {% endfor %}
    {% endif %}

    <body>
        <br>
        <br>
        <div class="text-center">
            <i class="fa fa-lock fa-4x text-dark" aria-hidden="true"></i>
            <br>
            <br>
            <h3> SecureX .... The most secure website out there! </h3>
            <br>
            <p> Ensure that your Django web application is secure in all areas. </p>
            <br>
            <a class="btn btn-info" type="button"  href="{% url 'register' %}"> <i class="fa fa-user" aria-hidden="true"></i> &nbsp; Make an account </a>
        </div>
    </body>
    <br> <br> <br> <br>
    <footer class="navbar navbar-expand-lg navbar-light bg-white justify-content-center">
        <a class="btn btn-secondary" type="button" href="{% url 'reset-password' %}"> Forgotten password? </a>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

{% endblock %}

