
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<body>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <h3> Create your account </h3>
        <h5> Secure your account today! </h5>
        <br> <br>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{RegisterForm|crispy}}
            <br>
            {{captcha}}
            <br>
            <button type="submit" class="btn btn-info w-100 btn-block p-3"> Create your account </button>
            <br> <br>
            <div class="text-center">
                {% comment %} <p> Already have an account? </p> <a href="{% url 'two_factor:login' %}"> Login </a> {% endcomment %}
            </div>
        </form>
    </div>
    <br>
</body>

{% endblock %}

